[Desktop Entry]
Encoding=UTF-8
Name=netcfg-tpsa
Type=Application
Comment=TPSA connections configurator
Comment[pl]=Konfigurator połączeń TPSA
Exec=netcfg-tpsa.pl
Terminal=true
Categories=Settings;
# vi: encoding=utf-8
